body{
    width: 500px !important;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    color:deepskyblue;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    
}

.heading hr{
    border-top: 0.2em dotted deepskyblue;
}

.description h4{
    color: gray;
}

.description p{
    line-height: 1.25;
}

.contactInfo h3{
    font-style: italic;
}

.contactInfo .list{
    padding: 20px 0px 20px 30px;
    border: 4px solid purple;
    background-color: #EEEEEE;
    list-style-type: square;
}
.contactInfo .list li{
    padding: 3px 0px 0px 0px;
    line-height: 1.25;
}
.contactInfo .list .green{
    color: green;
}

.contactInfo .list .orange{
    color: orange;
}