#topOfPage{
    text-align: center;
    color: orange;
}

#topOfPage h2{
    color: blue;
}

#mainContent{
    padding: 20px 20px 20px 20px;
    border-radius: 30px;
    border-style: solid;
    border-color:blue;
    background-color: red;
    margin:0 0 20px 0;
}


.box{
    border: 3px dotted yellow;
    background-color: rosybrown;
    margin:0 0 10px 0;
    
    
}

.special{
    border: 6px solid coral;
    height: 200px;
    width: 80%;
    background-color: #123;
    margin:0 0 10px 0;
}
.spBox{
    text-align: center;
    padding: 10px;
    background-color: cornflowerblue;
    width: calc(100% / 3);    /*spacing is a must*/
    transform: translate(50%,50%);
}

#navBar{
    background-color:rgba(60,20,175,0.3);
    width:100%;
    
    position:sticky;
    top:0;
    left:0;
}


